<body>
        <header class='hheader'>
            <nav class='nnav'>
                <ul class='uul'>
                    <li class='lli'><a href='/'>Shop</a></li>
                    <li class='lli'><a href='/products'>Products</a></li>
                    <% if(isAuthenticated){ %>
                        <li class='lli'><a href='/cart'>Shopping-cart</a></li>
                        <li class='lli'><a href='/displayOrders'>Orders</a></li>
                        <li class='lli'><a href='/addp'>Add products</a></li>
                        <li class='lli'><a href='/adminp'>Admin products</a></li>
                        <a class="lli lle" href='/logout'>Logout</a>
                    <% }else{ %>
                        <li class='lli lle'>
                            <a href='/login'>Login</a>
                        </li>
                    <% } %>

                    <li class='lli lld'><a href='/signup'>SignUp</a></li>
            </nav>
        </header>